[submodule "backend"]
	path = backend
	url = https://github.com/lalkee/mikroserviska-arh-is-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lalkee/mikroserviska-arh-is-frontend.git
